<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengj.dao.BoardMapper">
    <resultMap id="BaseResultMap" type="com.zhengj.model.Topic">
        <result property="id" column="id"/>
        <result property="createdAt" column="created_at"/>
        <result property="boardId" column="board_id"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="refId" column="ref_id"/>
        <result property="userId" column="user_id"/>
        <result property="version" column="version"/>
        <result property="refType" column="ref_type"/>
        <result property="name" column="name"/>
        <result property="userName" column="user_name"/>
        <result property="userImageUrl" column="user_imageUrl"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="getTopicByUserId" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM topics  where user_id = #{userId} order by updated_at desc,id desc limit 20
    </select>

</mapper>

