<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengj.dao.EntityMapper">

    <update id="updateEntityTableOrderById" >
    	update ${tableId} set display_order = #{order} where id = #{id}
    </update>

</mapper>
